<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head id="{{ page.id }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="stochastic dynamics, inference, comparative methods, optimization, hidden Markov model, state space model, pomp, ouch, subplex, R" />
    <link rel="shortcut icon" href="/bluefish.ico" type="image/ico">
    <title>{{ page.title }}</title>
    <style type="text/css">
      {% include pompstyle.css %}
      {% include layout.css %}
    </style>
  </head>
  <body>

    <div id="icon">
      <img width="100%" src="/images/bluefish.png">
    </div>

    <div id="main">
      <div id="header">
	{{ page.title }}
      </div>
      
      <div id="content">
	
	{{ content }}
	
	<div id="toplink">
	  <a href="#top">Top</a>
	</div>
	
      </div>

    </div>

  </body>
</html>
